body{
    background-image: url("https://background-tiles.com/overview/white/patterns/large/1029.png");
}

.box{
    padding:25px;
}

.card-body{
    font-family: 'Lora', serif;
    padding: 10px;
    background-color: #058f7c;
    color: white;
    font-family: 'Lora', serif;
    font-size: larger;
    font-weight: bold;
}

.contact{
    margin: 40px 10px;
}

.card-header{
    color: #058f7c;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Lora', serif;
    padding: 10px;
    background-color: transparent;
}

.form-group{
    margin: 10px 25px;
}

.picture {
    display: block;
    margin: 0
}